{% extends "base.html" %} {% block body %} {% include "nav.html" %}
<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">{{ article.title }}</h1>
    <p class="lead blog-description">The first Blog by devjhyang</p>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="blog-post">
        <p>{{article.content}}</p>
      </div>
      <div>
        {% for comment in article.article_comments.all %} 
            {{ comment.username }} : {{comment.content}}<div></div>
        {% endfor %}
      </div>
      <div class="reply-form">
        <form class="form-inline" method="POST" action="">
            {% csrf_token %}
            <div>
                <div class="form-group">
                    <input class="form-control" name="username" placeholder="닉네임"/>
                </div>
                <div class="form-group col-sm6">
                    <input class="form-control" name="content" placeholder="내용"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" type="submit">댓글 달기</button>
                </div>
            </div>
        </form>
      </div>
    </div>
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module">
        <h4>HashTags</h4>
        <ol class="list-unstyled">
          {% for hashtag in hashtag_list %}
          <li>#{{hashtag}}</li>
          {% endfor %}
        </ol>
      </div>
      <div class="sidebar-module"></div>
    </div>
  </div>
</div>
{% endblock %}
